form {
  padding-bottom: 12px;
  padding-top: 12px;
}

.top_bar {
  display: flex;
  justify-content: space-between;
}
.table-wrapper {
  height: 53.7vh;
  overflow: auto;
}

.high_button {
  height: 56px;
  border-radius: 10px;
  border: 0;
}
th {
  background-color:   #2a2f4b !important; 
  color: #ffffff; 
  input{
    background-color: #f1f4f6 !important;
  }
}