.not-found-container {
    text-align: center;
    margin-top: 100px;

    h1 {
    font-size: 7rem;
    color: #000000;
    font-weight:900px;
    }

    p {
        font-size: 1rem;            
        color: #555;                  
        word-wrap: break-word;         
        overflow-wrap: break-word;     
        max-width: 30em;               
        margin: 0 auto;                
        text-align: center;            
    }
    a {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
        background-color: #007bff;
        color: #fff;
    }
    }
}
.backbtn
{
margin-top: 40px;
font-size: 17px;
}
