<div style="margin-top: 50px;" class="container">
    <form class="example-form" [formGroup]="addNewAdminForm" (ngSubmit)="admin($event)">
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>fullName</mat-label>
                <input matInput type="text" formControlName="name">
            <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-error *ngIf="addNewAdminForm.get('name')?.errors&& addNewAdminForm.get('name')?.touched">
                    <p *ngIf="addNewAdminForm.get('name')?.getError('required')">FullName is Required</p>
                    <p *ngIf="addNewAdminForm.get('name')?.getError('minlength')">MinLength is 3</p>
                </mat-error>
            </td>
        <td><mat-form-field class="example-full-width" appearance="outline">
            <mat-label>userName</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="addNewAdminForm.get('username')?.errors&& addNewAdminForm.get('username')?.touched">
            <p *ngIf="addNewAdminForm.get('username')?.getError('required')">UserName is Required</p>
        </mat-error>
    </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix> email</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="addNewAdminForm.get('email')?.errors && addNewAdminForm.get('email')?.touched">
            <p *ngIf="addNewAdminForm.get('email')?.getError('required')">email is Required</p>
            <p *ngIf="addNewAdminForm.get('email')?.getError('email')">Enter correct email</p>
            </mat-error>
    </td>
    <td>
        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
        </mat-form-field>
        <mat-error *ngIf="addNewAdminForm.get('password')?.errors && addNewAdminForm.get('password')?.touched">
            <p *ngIf="addNewAdminForm.get('password')?.getError('required')">password is Required</p>
            <p *ngIf="addNewAdminForm.get('password')?.getError('pattern')">password must At least 8 characters and one word uppercase and special characters</p>
        </mat-error>
    </td>
    </tr>
    <tr>
        <td><mat-form-field class="custom-mat-form-field" appearance="outline">
            <mat-label>Permissions</mat-label>
            <mat-select matNativeControl required formControlName="group_type_id" class="custom-mat-select">
              <mat-option  *ngFor="let group of groups;$index" [value]="group.id" >
                {{group.group_name}}
              </mat-option>
            </mat-select>
            </mat-form-field>
            <mat-error *ngIf="addNewAdminForm.get('group_type_id')?.errors && addNewAdminForm.get('group_type_id')?.touched">
                <p *ngIf="addNewAdminForm.get('group_type_id')?.getError('required')">permission is Required</p>
            </mat-error>
        </td>
    </tr>

        </table>
            <button mat-raised-button class="saveButton" type="submit">Save</button>
            <button mat-raised-button class="editButton"><mat-icon matPrefix>mode_edit</mat-icon>Edit</button>
            <button mat-raised-button class="deleteButton"><mat-icon matPrefix>clear</mat-icon>Delete</button>
    </form>
    </div>
{{addNewAdminForm.value | json}}
