<app-breadcrumbs></app-breadcrumbs>
<!-- <form [formGroup]="employeeForm" (submit)="employee($event)">
        <div class="mb-3">
        <label for="exampleInputEmail1"  class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
        <!-- <div id="emailHelp" class="form-text">Enter Your Name.</div> -->
        <!-- </div> -->
        <!-- <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">salary</label>
        <input type="number" class="form-control"formControlName="salary" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> -->
    <!-- @for(employee of employees;track employee.id){ -->
        <!-- <ul>
            <li>{{ employee.name}} ,{{ employee.Salary}}</li>
            <button (click)="deleteHandler(employee.id)">delete</button>
        </ul> -->
        