<div class="container">
    <form class="example-form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="table-scroll">
        <table class="example-full-width" cellspacing="0" >
            <tr>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="employeeForm.get('name')?.errors && employeeForm.get('name')?.touched">
                        <p *ngIf="employeeForm.get('name')?.hasError('required')">Name is Required</p>
                        <p *ngIf="employeeForm.get('name')?.hasError('maxlength')">Name cannot exceed 255 characters</p>
                    </mat-error>
                </td>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" formControlName="address">
                        <mat-icon matSuffix>location_on</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="employeeForm.get('address')?.errors && employeeForm.get('address')?.touched">
                        <p *ngIf="employeeForm.get('address')?.hasError('required')">Address is Required</p>
                        <p *ngIf="employeeForm.get('address')?.hasError('maxlength')">Address cannot exceed 255
                            characters</p>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput type="date" formControlName="DOB">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="employeeForm.get('DOB')?.errors && employeeForm.get('DOB')?.touched">
                        <p *ngIf="employeeForm.get('DOB')?.hasError('required')">Date of Birth is Required</p>
                        <p *ngIf="employeeForm.get('DOB')?.hasError('dobInvalid')">Date of Birth must be before today
                        </p>
                    </mat-error>
                </td>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="tel" matInput placeholder="000-000-0000" formControlName="phone_number">
                        <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('phone_number')?.errors && employeeForm.get('phone_number')?.touched">
                        <p *ngIf="employeeForm.get('phone_number')?.hasError('required')">Phone is Required</p>
                        <p *ngIf="employeeForm.get('phone_number')?.hasError('maxlength')">Phone number cannot exceed 15
                            characters</p>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="custom-mat-form-field" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="female">Female</mat-option>
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="other">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="employeeForm.get('gender')?.errors && employeeForm.get('gender')?.touched">
                        <p *ngIf="employeeForm.get('gender')?.hasError('required')">Gender is Required</p>
                    </mat-error>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="department_id">
                            <mat-option *ngFor="let dept of departments" [value]="dept.id">
                                {{dept.department_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('department_id')?.errors && employeeForm.get('department_id')?.touched">
                        <p *ngIf="employeeForm.get('department_id')?.hasError('required')">Department is Required</p>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Date of Contract</mat-label>
                        <input matInput type="date" formControlName="date_of_contract">
                        <mat-icon matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('date_of_contract')?.errors && employeeForm.get('date_of_contract')?.touched">
                        <p *ngIf="employeeForm.get('date_of_contract')?.hasError('required')">Date of Contract is
                            Required</p>
                        <p *ngIf="employeeForm.get('date_of_contract')?.hasError('dateOfContractInvalid')">Date of
                            Contract must be after or equal to Date of Birth</p>
                    </mat-error>
                </td>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nationality</mat-label>
                        <input matInput type="text" formControlName="nationality">
                        <mat-icon matSuffix>public</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('nationality')?.errors && employeeForm.get('nationality')?.touched">
                        <p *ngIf="employeeForm.get('nationality')?.hasError('required')">Nationality is Required</p>
                        <p *ngIf="employeeForm.get('nationality')?.hasError('maxlength')">Nationality cannot exceed 255
                            characters</p>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <!-- For Arrival Time -->
                <td>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Arrival Time</mat-label>
                        <input matInput type="time" formControlName="arrival_time" (change)="formatTime('arrival_time')">
                        <mat-icon matSuffix>access_time</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('arrival_time')?.errors && employeeForm.get('arrival_time')?.touched">
                        <p *ngIf="employeeForm.get('arrival_time')?.hasError('required')">Arrival Time is Required</p>
                    </mat-error>
                </td>

                <td>
                    <!-- For Leave Time -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Leave Time</mat-label>
                        <input matInput type="time" formControlName="leave_time" (change)="formatTime('leave_time')">
                        <mat-icon matSuffix>access_time</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('leave_time')?.errors && employeeForm.get('leave_time')?.touched">
                        <p *ngIf="employeeForm.get('leave_time')?.hasError('required')">Leave Time is Required</p>
                        <p *ngIf="employeeForm.get('leave_time')?.hasError('leaveTimeInvalid')">Leave Time must be after
                            Arrival Time</p>
                    </mat-error>
                </td>

            </tr>
            <tr>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>National ID</mat-label>
                        <input matInput type="text" formControlName="national_id">
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>
                    <mat-error
                        *ngIf="employeeForm.get('national_id')?.errors && employeeForm.get('national_id')?.touched">
                        <p *ngIf="employeeForm.get('national_id')?.hasError('required')">National ID is Required</p>
                        <p
                            *ngIf="employeeForm.get('national_id')?.hasError('minlength') || employeeForm.get('national_id')?.hasError('maxlength')">
                            National ID must be 14 characters</p>
                    </mat-error>
                </td>
                <td><mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Salary</mat-label>
                        <input matInput type="number" formControlName="salary">
                        <mat-icon matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="employeeForm.get('salary')?.errors && employeeForm.get('salary')?.touched">
                        <p *ngIf="employeeForm.get('salary')?.hasError('required')">Salary is Required</p>
                        <p *ngIf="employeeForm.get('salary')?.hasError('min')">Salary must be greater than or equal to 0
                        </p>
                    </mat-error>
                </td>
            </tr>
        </table>
        <div class="btn-padding">
            <button mat-raised-button type="submit" [disabled]="employeeForm.invalid" >Save</button>
    
            </div>
    </form>
</div>