<div class="employee-card-container">
  <mat-card *ngFor="let employee of dataSource.data" class="employee-card">
    <mat-card-header>
      <mat-card-title>{{ employee.name }}</mat-card-title>
      <mat-card-subtitle>{{ employee.department?.name || "N/A" }}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <!-- Divider between header and content -->

    <mat-card-content>
      <div class="employee-details-grid">
        <div class="employee-detail">
          <strong>National ID:</strong> {{ employee.national_id }}
        </div>
        <div class="employee-detail">
          <strong>Phone:</strong> {{ employee.phone_number }}
        </div>
        <div class="employee-detail">
          <strong>Arrival Time:</strong> {{ formatTime(employee.arrival_time) }}
        </div>
        <div class="employee-detail">
          <strong>Leave Time:</strong> {{ formatTime(employee.leave_time) }}
        </div>
        <div class="employee-detail">
          <strong>Date of Birth:</strong>
          {{ employee.DOB | date : "mediumDate" }}
        </div>
        <div class="employee-detail">
          <strong>Nationality:</strong> {{ employee.nationality }}
        </div>
        <div class="employee-detail">
          <strong>Salary:</strong> {{ employee.salary | currency }}
        </div>
        <div class="employee-detail">
          <strong>Contract Date:</strong>
          {{ formatDate(employee.date_of_contract) | date : "mediumDate" }}
        </div>
      </div>
      <!-- Back Button -->
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-content>
  </mat-card>
</div>
