.employee-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 0;
  margin-left: 10px;
  overflow: auto;
  height: 60vh;
}

.employee-card {
  padding: 15px 0;
  margin: 0;
}

.employee-header {
  padding-bottom: 10px;
}

.employee-header h1 {
  margin: 0;
  color: #333;
  margin-bottom: 5px;
}

.employee-header h2 {
  margin: 0;
  color: #666;
  font-weight: normal;
  text-transform: capitalize;
}

.employee-details-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.employee-detail {
  display: flex;
  font-size: 17px;
}
hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}
.employee-detail strong {
  color: #555;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
