h1 {
  margin-top: 0;
  margin-bottom: 8px;
}

.example-card {
  // width: 525px;
  margin-bottom: 8px;
  height: 245px;
}

.text-center {
  text-align: center;
  padding-bottom: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
}

// .d-around {
//   display: flex;
//   justify-content: space-around;

//   margin: 10px auto;
//   width: 100%;
//   margin-top: 20px;
// }



.salary-card {
  // width: 715px;
  padding-top: 20px;
}

table {
  // width: 100%;
  // margin-top: 10px;
}

// .d-gap {
//   display: grid;
//   gap: 23px;
//   margin-right: 10px;
// }

.d-start {
  display: flex;
  justify-content: end;

}

.spinner-container {
  display: flex;
  justify-content: center;
  
}

.salary-spinner {
  margin-top: 124px;
  margin-bottom: 124px;
}

// .department-container{
//   display: flex;
//   justify-content: start;
//   padding-bottom: 15px;
// }
// .department-card{
//   margin-top:15px;
//   // width: 100%;
//   margin-bottom: 15px;
// }
// .main {
//   height: 76vh;
//   overflow: auto;
//   scroll-behavior: smooth;
//   padding: 0 10px 10px 10px;
// }
.start{
margin-right: 990px;
}

.grid-item:nth-of-type(1) {
grid-column: span 3;
  // padding: 20px;
  text-align: center;

}
.grid-item:nth-of-type(2) {
  grid-column: span 5;
  // padding: 20px;
  text-align: center;

}.grid-item:nth-of-type(3) {
  grid-column: span 4;
  // padding: 20px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Defines the columns in your grid */
  gap: 10px;
  width: 100%;
  margin-top: 25px;
}

.grid-item {
  grid-column: span 4; /* Adjust based on the column span */
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px; /* Set the desired fixed height */
  overflow: hidden; /* Prevent content from overflowing */
}

mat-card-content {
  flex-grow: 1;
  overflow: auto; /* Allow content to scroll inside the card if necessary */
}
.title-col
{
  padding-bottom: 20px;
}
.emp-col
{
  width: 350px;
  padding-bottom: 20px;
}
.department-card {
  padding: 15px; /* Add padding inside the department card */

  h2 {
    margin: 15px 0; /* Adds space above and below the department number */
    padding-left: 10px; /* Adds space between the department number and the left edge */
  }

  .start {
    display: block; /* Ensures it's a block-level element */
    margin-left: 10px; /* Adds margin between the department number and other content */
  }
}
.sub-col
{
  margin-bottom: 30px;
}
.employeeCount
{
  text-align: center;
}
.count-col
{
  text-align: center;
}