<app-breadcrumbs></app-breadcrumbs>
<div class="grid-container">
    <div class="grid-item">
  
      <!-- Employee Card -->
      <mat-card class="example-card p-3" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group class="emp-col">
            <mat-card-title>Employee</mat-card-title>
            <mat-card-subtitle>No.</mat-card-subtitle>
            <h2 *ngIf="!employeeLoading">{{ employeeData?.employeeCount }}</h2>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="text-center">
          <mat-card-subtitle class="sub-col">Today's Attendance Rate</mat-card-subtitle>
          <div *ngIf="!employeeLoading">
            {{ getRoundedAttendanceRate()  }}
          </div>
          <!-- Single spinner for employee card -->
          <div *ngIf="employeeLoading" class="spinner-container">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Holiday Card -->
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group class="emp-col">
            <mat-card-title>Holiday</mat-card-title>
            <mat-card-subtitle>No.</mat-card-subtitle>
            <h2 *ngIf="!holidayLoading">{{ holidayData?.numberOfHolidays }}</h2>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="text-center">
          <p class="sub-col">Upcoming Holiday</p>
          <div class="d-flex" *ngIf="!holidayLoading">
            <p>{{ holidayData?.upcomingHoliday?.description }}</p>
            <p>{{ holidayData?.upcomingHoliday?.date }}</p>
          </div>

          <!-- Single spinner for holiday card -->
          <div *ngIf="holidayLoading" class="spinner-container">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <!-- Salary Card -->
    <div class="grid-item">
      <mat-card class="w-100 salary-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title-group class="title-col">
            <mat-card-title>Total Salaries</mat-card-title>
            <p *ngIf="!salaryLoading">{{ salaryData?.sumOfSalaries | number: '1.2-2' }} EGP</p>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="text-center">
          <mat-card-subtitle class="sub-col">Top Employees Salary</mat-card-subtitle>
  
          <!-- Spinner for salary card -->
          <div class="spinner-container" *ngIf="salaryLoading">
            <mat-spinner class="salary-spinner"></mat-spinner>
          </div>
  
          <table mat-table [dataSource]="salaryData?.topSalaries"
            style="background-color: transparent;" *ngIf="!salaryLoading">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
  
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef> Department </th>
              <td mat-cell *matCellDef="let element"> {{ element.department }} </td>
            </ng-container>
  
            <ng-container matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef> Salary </th>
              <td mat-cell *matCellDef="let element"> {{ element.salary }} EGP </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  <!-- Department Table -->
  <div class="grid-item">
    <mat-card appearance="outlined" class="department-card">
      <mat-card-header>
        <mat-card-title-group class="dep-col">
          <mat-card-title>Departments</mat-card-title>
          <mat-card-subtitle>No.</mat-card-subtitle>
          <h2 class="start">{{ departmentData?.totalDepartments }}</h2>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-header>
        <mat-card-title class="sub-col">Departments Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Spinner for department card -->
        <div class="spinner-container" *ngIf="departmentLoading">
          <mat-spinner class="salary-spinner"></mat-spinner>
        </div>
        <table mat-table [dataSource]="departmentData?.departments"  *ngIf="!departmentLoading">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Department Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="employeeCount" class="employeeCount">
            <th mat-header-cell *matHeaderCellDef class="count-col"> Employee Count </th>
            <td mat-cell *matCellDef="let element" class="count-col"> {{element.employeeCount}} </td>
          </ng-container>
      <tr mat-header-row *matHeaderRowDef="departmentColumns; sticky: true"></tr>

          <tr mat-row *matRowDef="let row; columns: departmentColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
