<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <form (ngSubmit)="ruleHandler()" [formGroup]="salaryForm" class="form-container">
    <div class="salary-settings">
      <!-- Overtime Input -->
      <mat-form-field class="example-full-width" appearance="outline" >
        <mat-label>Overtime (hours)</mat-label>
        <input matInput formControlName="overtime" type="number" [disabled]="!isEditable">
        <mat-error *ngIf="getOvertime.touched && getOvertime.hasError('required')">
          Overtime amount is required
        </mat-error>
        <mat-error *ngIf="getOvertime.touched && getOvertime.hasError('min')">
          Overtime amount must be at least 1
        </mat-error>
      </mat-form-field>
      <!-- Penalty Input -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Penalty (hours)</mat-label>
        <input matInput formControlName="penalty" type="number" [disabled]="!isEditable">
        <mat-error *ngIf="getPenalty.touched && getPenalty.hasError('required')">
          Penalty amount is required
        </mat-error>
        <mat-error *ngIf="getPenalty.touched && getPenalty.hasError('min')">
          Penalty amount must be at least 1
        </mat-error>
      </mat-form-field>
    </div>
    <div class="line"></div>

    <div class="button-container">
      <!-- Edit Button -->
      <button mat-stroked-button color="primary" type="button" (click)="toggleEdit()" *ngIf="!isEditable" class="edit-button">
        Edit
      </button>
      <!-- Save Changes Button -->
      <button mat-stroked-button  color="primary" type="submit" *ngIf="isEditable">
        Save Changes
      </button>
    </div>
  </form>
</div>