/* Custom styles for the form fields */

.custom-form-field {
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  .mat-form-field-outline {
    border-color: #006699;
  }
  .mat-form-field-label {
    color: #006699;
  }
  .mat-form-field-infix {
    background-color: #ffffff;
  }
  .mat-input-element {
    color: #000;
  }
  .mat-icon {
    color: #006699;
  }
  .mat-hint {
    color: #999;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    border-width: 2px;
  }
  .error-icon {
    color: #f44336;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  mat-datepicker-toggle {
    color: #006699;
  }
}

/* Flex container for arranging form fields and buttons */

form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.input-group {
  display: flex;
  gap: 24px;
}

.custom-form-field {
  flex: 1;
  width: 212px;
}

/* Custom submit button styles */

button.submit-button {
  border: none;
  border-radius: 10px;
  height: 56px;
}

/* Styles for the table and paginator */

.table-container {
  overflow: auto;
  max-height: 50vh;
  .mat-elevation-z8 {
    box-shadow: none !important;
  }
  .mat-header-cell {
    background-color: #f1f1f1;
  }
  .mat-cell {
    background-color: #ffffff;
  }
  .column-name {
    text-align: center;
  }
  .actions-header {
    text-align: center;
    width: 150px;
    /* Adjust width as needed */
  }
  .actions-cell {
    text-align: center;
    width: 550px;
  }
}

/* Custom icon button styles */

.view-button:hover {
  background-color: #0560de;
  color: #ffffff;
  border-color: #0560de;
}

.edit-button:hover {
  background-color: rgb(88, 144, 88);
  color: #ffffff;
  border-color: rgb(88, 144, 88);
}

.delete-button:hover {
  background-color: rgb(121, 45, 45);
  color: #ffffff;
  border-color: rgb(121, 45, 45);
}

.custom-icon-button:focus {
  outline: none;
}
.custom-icon-button {
  background-color: transparent;
  color: #006699;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 8px;
  min-width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.date-col {
  width: 150px;
  text-align: center;
}
.action-col {
  width: 170px;
  text-align: center;
}
/* Responsive adjustments */

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
    gap: 10px;
  }
  .button-group {
    margin-top: 10px;
  }
}
th{
background-color:   #2a2f4b !important; 
color: #ffffff; 
}
